<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping Details | JongLe'Livre</title>
    
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap'>
    <link rel="stylesheet" type="text/css" href="/style/shipping.css" />
    <link rel="shortcut icon" href="/img/logo.ico" />

    <!-- JS files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    
</head>

<body>
    <% if (user) { %>
        <%- include('../partials/header', {user: user}) %>
    <% } else { %> 
        <%- include('../partials/header') %>
    <% } %> 

    <div class="bs-example">
        <div class="btn-group d-flex">
            <a href="/cart" type="button" class="btn btn-outline-secondary">Shopping Cart</a>
            <a href="#" type="button" class="btn btn-outline-secondary active-vl">Shipping Details</a>
            <a href="/checkout/payment" type="button" class="btn btn-outline-secondary">Payment Options</a>
        </div>
    </div>

    <div class="main container-fluid paddding">
        <div class="row">
            <section id="sidebar" class="col-9">
                <div class="card card-body mb-3">
                    <div class="row border-bottom category">
                        <h6 class="bbb_viewed_title p-1 col-auto mr-auto"><span>Shipping Details</span></h6>
                    </div>
                    <form class="forms-sample" onsubmit="return false;" class="need-validation" novalidate>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name">
                                <div class="invalid-feedback">
                                    Please provide your full name.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tel" name="tel" placeholder="Phone Number">
                                <div class="invalid-feedback">
                                    Please provide your phone number.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                                <div class="invalid-feedback">
                                    Please provide your address.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="address2" name="address2" placeholder="Address 2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="city" name="city"placeholder="City">
                                <div class="invalid-feedback">
                                    Please provide your city.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zip/Postal Code">
                                <div class="invalid-feedback">
                                    Please provide a proper zip code.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card card-body">
                    <div class="row border-bottom category">
                        <h6 class="bbb_viewed_title p-1 col-auto mr-auto"><span>Review</span></h6>
                    </div>
                    <div class="review">
                        <div class="row text-center">
                            <% data.items.forEach(function(item) { %>
                            <div class="col-2">
                                <div class="aside"><img src=<%=item.bookID.image %> class="img-sm"></div>
                                <div class="bbb_viewed_name"><a href="/shop/book/<%=item.bookID._id %>" title="<%= item.bookID.name %>"><%=item.bookID.name %></a></div>
                                <div><span class="bbb_viewed_price"><%=item.bookID.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %></span> x <%=item.quantity %></div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>

            <section id="sidebar" class="col-3">
                <div class="card card-body">
                    <div class="row border-bottom category">
                        <h6 class="bbb_viewed_title p-1 col-auto mr-auto"><span>Summary</span></h6>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-5">
                                <p class="title text-dark" style="font-size: large;">Subtotal:</p>
                                <p class="title text-dark" style="font-size: large;">Shipping:</p>
                                <p class="title text-dark" style="font-size: large;">Taxes:</p>
                            </div>
                            <div class="col-7">
                                <p class="title text-dark font-weight-bold" style="font-size: large;">
                                    <%= data.subTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %> VND
                                </p>
                                <p class="title text-dark" style="font-size: large;">Free</p>
                                <p class="title text-dark" style="font-size: large;">Free</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-5">
                                <p class="title text-dark" style="font-size: large;">Total:</p>
                            </div>
                            <div class="col-7">
                                <p class="title text-dark font-weight-bold" style="font-size: large;">
                                    <%= data.subTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %> VND
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <button type="button" class="btn btn-secondary btn-lg" onclick="proceed();">Next</button>
                        <a href="/shop"><button type="button" class="btn btn-secondary btn-lg">Cancel</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--- Footer -->
	<%- include('../partials/footer') %>

    <script src="/script/need-validation.js"></script>
    <script src="/script/shipping.js"></script>
</body>

</html>